body{
    display: flex;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}       
.sidebar{
    background-color:indianred;
    width: 25%;
}
.sidebar>p{
    font-size: 20px;
    font-weight: 700;    
}
#dashboard{
     display: flex;
}
.mainbar{
    width: 100%;
}
.header{
    display: grid;
    border: 2px solid;
    grid-template-rows: 150px 150px;
    grid-template-columns: 60% 40%;
}
.header>div{
    border: 2px solid;
}
.header>input{
    width: 700px;
    height: 30px;
    border-radius: 25px;
    margin-top: 30px;
    margin-left: 50px;
}
.mainContent{
    display: flex;
    border: 2px solid;
}
.projects{
    display: flex;
    flex-wrap: wrap ;
    width: 70%;
    border: 2px solid;
    /* display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    justify-items: center; */
    justify-content: space-around;
}
.projects>p{
    border: 2px solid;
    width: 45%;
    height: 230px;
}
.miniMain{
    width: 30%;
    border: 2px solid;
}
#announce,#trend{
    width: 90%;
    height: 300px;
    background-color: hotpink;  
}
