body{
    display: flex;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}       
.sidebar{
    background-color:indianred;
    width: 20%;
}
.sidebar>div>p{
    font-size: 20px;
    font-weight: 700;    
    color: white;
}
.sidebar>div>img{
    max-height: 30px;
    margin: 15px;
}
.sidebar>div{
    display: flex;
    align-items: center;
}
.mainbar{
    width: 80%;
}
.header{
    display: grid;
    border: 2px solid;
    grid-template-rows: 120px 120px;
    grid-template-columns: 60% 40%;
}
#searchBar{
    display: flex; 
    padding-left: 50px;
    padding-top: 30px;
}
.header>div{
    border: 2px solid;
}
.header>div>input{
    width: 700px;
    height: 35px;
    border-radius: 25px;
    margin-left: 10px;
    padding-left: 15px;
}
#user{
    display: flex;
    justify-content: end;
    padding: 20px;
    font-size: 20px;
    font-weight: 700;
    align-items: center;
    padding-right: 35px;
}
#me{
    max-height: 100px ;
}
#intro{
    margin-top: -30px;
}
#topButton{
    display: flex;
    padding: 15px;
    padding-left: 40px;
}
#topButton>button{
    padding-left: 30px ;
    padding-right: 30px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 25px;
    font-size: 16px;
    font-weight: 700;
    border: none;
    margin: 20px;
    font-family: 'Roboto', sans-serif;
}
.mainContent{
    display: flex;
    border: 2px solid;
}
.projects{
    display: flex;
    flex-wrap: wrap ;
    width: 75%;
    border: 2px solid;
    /* display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    justify-items: center; */
    justify-content: space-around;
}
.projects>div{
    border: 2px solid;
    width: 45%;
    height: 230px;
    margin: 10px;
    border-radius: 10px;
    border-left: 10px solid #6d597a;
    padding-left: 10px;
}
.projects>div>h3{
    margin-bottom: -13px ;
}
#templateImages{
    display: flex;
    justify-content: flex-end;
}
#templateImages>img{
    max-height: 25px;
    margin: 20px;
}
.miniMain{
    width: 25%;
    border: 2px solid;
    margin-top: -40px;
    padding-left: 15px;
}
#announce,#trend{
    width: 80%;
    height: 300px;
    background-color:indianred ;  
    border-radius: 10px;
}
#announce{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}
#announce>p{
    font-size: 12px;
}
#announce>h5{
    margin-bottom: -7px;
}
#announce>div{
    border-top: 1px solid black;
}