body{
    display: flex;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}       
.sidebar{
    background-color:indianred;
    width: 25%;
}
.sidebar>p{
    font-size: 20px;
    font-weight: 700;    
}
#dashboard{
     display: flex;
}
.mainbar{
    width: 100%;
}
.header{
    display: grid;
    border: 2px solid;
    grid-template-rows: 120px 120px;
    grid-template-columns: 60% 40%;
}
.header>div{
    border: 2px solid;
}
.header>input{
    width: 700px;
    height: 35px;
    border-radius: 25px;
    margin-top: 30px;
    margin-left: 50px;
}
#user{
    display: flex;
    justify-content: end;
    padding: 20px;
    font-size: 20px;
    font-weight: 700;
    margin-right: 40px;
}
#intro{
    margin-top: -30px;
}
#topButton>button{
    padding-left: 30px ;
    padding-right: 30px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 25px;
    font-size: 16px;
    font-weight: 700;
    border: none;
    margin: 20px;
    font-family: 'Roboto', sans-serif;
}
.mainContent{
    display: flex;
    border: 2px solid;
}
.projects{
    display: flex;
    flex-wrap: wrap ;
    width: 75%;
    border: 2px solid;
    /* display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    justify-items: center; */
    justify-content: space-around;
}
.projects>div{
    border: 2px solid;
    width: 45%;
    height: 230px;
    margin: 10px;
    border-radius: 10px;
    border-left: 10px solid #6d597a;
}
.projects>div>h3{
    margin-bottom: -13px ;
}
.miniMain{
    width: 25%;
    border: 2px solid;
    margin-top: -40px;
    padding-left: 15px;
}
#announce,#trend{
    width: 90%;
    height: 300px;
    background-color:indianred ;  
    border-radius: 10px;
}
